body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background: initial;
    font-family: 'Segoe UI', 'Helvetica Neue', 'Verdana', 'Trebuchet MS', sans-serif;
}

.base-aspect-ratio {
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    height: 99%; /* Extend to full window height */
    width: auto; /* Adjust width proportionally */
    aspect-ratio: 9 / 16; /* Vertical aspect ratio */
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Add relative positioning for absolute children if needed */
}

.left-pane-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%; /* Only take up space above the disclaimer-div */
    width: 33.3333%;
    /* outline: 2px solid orange; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    pointer-events: none;
    z-index: 2;
}

.left-top-div {
    width: 100%;
    height: 50%;
    /* outline: 2px solid green; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.left-bottom-div {
    width: 100%;
    height: 50%;
    /* outline: 2px solid #ffc300; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.disclaimer-div {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    background: black;
    outline: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    z-index: 3;
}

.disclaimer-half {
    width: 50%;
    height: 100%;
    color: white;
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5em;
    font-size: 1.15vh;
    box-sizing: border-box;
    font-family: inherit;
    /* Remove flex to allow normal inline flow */
}

.highlight {
    font-weight: bold;
}

.ad-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}